.Notification-row {
  display: flex;
  justify-content: center;
}

.Notification-btnGroup {
  display: flex;
  justify-content: center;
}

.Notification {
  width: 400px;
  height: 60px;
  margin-top: 10px;
  transition: all 0.3s;
  border: 1px solid #6e0b4a;
  border-radius: 20px;
}

.Notification:hover {
  width: 450px;
  font-weight: bold;
  border: 3px solid #6e0d61;
}

.Notification-para {
  font-family: "Muli", sans-serif;
  font-size: 20px;
  color: #ffffff;
  color: #6e166a;
  text-align: center;
}

.Notification-btn {
  font-size: 15px;
  font-weight: 100px;
  border-radius: 20px;
  border: 1px solid black;
  font-family: "Muli", sans-serif;
  color: #ffffff;
  transition: all 0.3s;
  background-color: #6e0c44ff;
  text-decoration: none;
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
  padding: 10px;
}

.Notification-btn:focus {
  outline: none;
}

.Notification-btn:hover {
  width: 40px;
  border: 3px solid #6e0c5aff;
  font-weight: bold;
  background-color: #c216e0ff;
}

.Notification-btnDelete {
  width: 80px;
  height: 40px;
  font-size: 15px;
  font-weight: 100px;
  border-radius: 20px;
  border: 1px solid black;
  font-family: "Muli", sans-serif;
  color: #ffffff;
  transition: all 0.3s;
  background-color: #941232ff;
  text-decoration: none;
  margin-left: 10px;
  margin-right: 10px;
}

.Notification-btnDelete:focus {
  outline: none;
}

.Notification-btnDelete:hover {
  width: 90px;
  border: 3px solid #6e0c5aff;
  font-weight: bold;
  background-color: #e81c4fff;
}
