.Contact-row {
  display: flex;
  justify-content: center;
  margin-top: 10%;
}

.Contact-inputDiv {
  margin-top: 30px;
}

.Contact-label {
  font-family: "Muli", sans-serif;
  font-size: 20px;
  color: #ffffff;
  display: block;
  text-align: center;
}

.Contact-input {
  width: 400px;
  height: 40px;
  font-family: "Muli", sans-serif;
  border: 1px solid #ffffff;
  border-radius: 20px;
  transition: all 0.3s;
  color: #ffffff;
}

.Contact-input:focus {
  outline: none;
}

.Contact-input:hover {
  border: 3px solid #581f6eff;
  font-weight: bold;
}

.Contact-btn {
  width: 100px;
  height: 40px;
  font-size: 15px;
  font-weight: 100px;
  border-radius: 20px;
  border: 1px solid #ffffff;
  font-family: "Muli", sans-serif;
  color: #ffffff;
  transition: all 0.3s;
  margin-top: 50px;
}

.Contact-btn:hover {
  width: 120px;
  height: 40px;
  box-shadow: 0 0 12px #6e204f;
  border: 1px solid #6e1d25ff;
  color: #6e0d41ff;
  font-weight: bold;
}

.Contact-btn:focus {
  outline: none;
}

.Contact-textarea {
  width: 400px;
  height: 200px;
  font-family: "Muli", sans-serif;
  border: 1px solid #ffffff;
  border-radius: 20px;
  transition: all 0.3s;
  color: #ffffff;
}

.Contact-textarea:focus {
  outline: none;
}

.Contact-textarea:hover {
  border: 3px solid #581f6eff;
  font-weight: bold;
}
