.Update-row {
    display: flex;
    justify-content: center;
}

.Update-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 3px solid #ffffff;
    border-radius: 15px;
    transition: all 0.3s;
    width: 500px;
    height: 700px;
    margin-top: 50px;
}

.Update-form:hover {
    box-shadow:
    0 2.8px 2.2px rgba(251, 250, 250, 0.034),
    0 6.7px 5.3px rgba(214, 211, 211, 0.048),
    0 12.5px 10px rgba(228, 226, 226, 0.06),
    0 22.3px 17.9px rgba(235, 232, 232, 0.072),
    0 41.8px 33.4px rgba(230, 227, 227, 0.086),
    0 100px 80px rgba(241, 238, 238, 0.12)
  ;
}

.Update-img {
    width: 250px;
    height: 250px;
    border-radius: 100%;
}

.Update-label {
    font-family: 'Muli', sans-serif;
    font-size: 20px;
    color: #ffffff;
    display: block;
    text-align: center;
}

.Update-input {
    width: 200px;
    height: 40px;
    font-family: 'Muli', sans-serif;
    border: 1px solid #ffffff;
    border-radius: 20px;
    transition: all 0.3s;
    color: #ffffff;
}

.Update-input:focus {
    outline: none;
}

.Update-input:hover {
    width: 240px;
    border: 3px solid #581F6EFF;
    font-weight: bold;
}

.Update-inputDiv {
    margin-top: 30px;
}

.Update-btn {
    width: 100px;
    height: 40px;
    font-size: 15px;
    font-weight: 100px;
    border-radius: 20px;
    border: 1px solid #ffffff;
    font-family: 'Muli', sans-serif;
    color: #ffffff;
    transition: all 0.3s;
    margin-top: 50px;
}

.Update-btn:hover {
    width: 120px;
    height: 40px;
    box-shadow: 0 0 12px #6E204F;
    border: 1px solid #6E1D25FF;
    color: #6E0D41FF;
    font-weight: bold;
}

