.NotificationsList-row {
    display: flex;
    justify-content: center;
    margin-top: 20%;
}

.NotificationsList-h1 {
    font-family: 'Muli', sans-serif;
    font-weight: 50px;
    text-align: center;
}

.NotificationsList-container {
    border: 3px solid #ffffff;
    border-radius: 15px;
    transition: all 0.3s;
    width: 500px;
    height: 700px;
    margin-top: 50px;
}

.NotificationsList-container {
    box-shadow:
    0 2.8px 2.2px rgba(251, 250, 250, 0.034),
    0 6.7px 5.3px rgba(214, 211, 211, 0.048),
    0 12.5px 10px rgba(228, 226, 226, 0.06),
    0 22.3px 17.9px rgba(235, 232, 232, 0.072),
    0 41.8px 33.4px rgba(230, 227, 227, 0.086),
    0 100px 80px rgba(241, 238, 238, 0.12)
  ;
}