.VideoUpload-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.VideoUpload-input {
  width: 140px;
  height: 40px;
  font-family: "Muli", sans-serif;
  border: 1px solid #ffffff;
  border-radius: 20px;
  transition: all 0.3s;
  margin-top: 10px;
  color: #ffffff;
}

.VideoUpload-input:focus {
  outline: none;
}

.VideoUpload-input:hover {
  width: 180px;
  border: 3px solid #581f6eff;
  font-weight: bold;
}

.VideoUpload-btn {
  width: 100px;
  height: 40px;
  font-size: 20px;
  font-weight: 100px;
  border-radius: 20px;
  transition: all 0.3s;
  border: 1px solid #ffffff;
  font-family: "Muli", sans-serif;
  margin-top: 20px;
  color: #ffffff;
}

.VideoUpload-btn:focus {
  outline: none;
}

.VideoUpload-btn:hover {
  width: 110px;
  height: 70px;
  box-shadow: 0 0 12px #501d6eff;
  border: 1px solid #4b146eff;
  color: #50116eff;
  font-weight: bold;
}

.VideoUpload-h3 {
  font-family: "Muli", sans-serif;
  margin-top: 20px;
  text-align: center;
  color: #ffffff;
}

.VideoUpload-container {
  width: 400px;
  height: 250px;
  border: 1px solid #ffffff;
  transition: all 0.3s;
}

.VideoUpload-container:hover {
  box-shadow: 0 2.8px 2.2px rgba(251, 250, 250, 0.034),
    0 6.7px 5.3px rgba(214, 211, 211, 0.048),
    0 12.5px 10px rgba(228, 226, 226, 0.06),
    0 22.3px 17.9px rgba(235, 232, 232, 0.072),
    0 41.8px 33.4px rgba(230, 227, 227, 0.086),
    0 100px 80px rgba(241, 238, 238, 0.12);
}

.VideoUpload-inputDiv {
  margin-top: 10px;
}

.VideoUpload-label {
  font-family: "Muli", sans-serif;
  font-size: 15px;
  font-weight: 100px;
  color: #ffffff;
  display: block;
  text-align: center;
}

.VideoUpload-inputContainer {
  display: flex;
  justify-content: center;
}

.VideoUpload-row {
  display: flex;
  margin-bottom: 20px;
  justify-content: center;
}

.VideoUpload-close {
  margin-top: 20px;
}

.VideoUpload-none {
  display: none;
}

.VideoUpload-h3 {
  color: red;
}